# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
log/*
doc/*.html
*.pyc
*.pyo
*.class
*.orig
.DS_Store
*.o
*.lo
*.pbxuser
*.perspective*
*.mode1v3
build
DoxygenDocs.docset
docset-installed.txt
# xcode noise
build/*
*.pbxuser
*.mode1v3

# osx noise
.DS_Store
profile

# Emacs
*~

# Xcode4 stuff (at least for now :)
*.xcworkspace
xcuserdata

# jazzy documentation directory
docs

